<?xml version="1.0"?>
<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 */

/**
 * @category   Magenerds
 * @package    Magenerds_CountryPopUp
 * @subpackage etc
 * @author     Philipp Steinkopff <p.steinkopff@techdivision.com>
 * @copyright  Copyright (c) 2019 TechDivision GmbH (https://www.techdivision.com)
 * @link       https://www.techdivision.com/
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Magenerds" translate="label" sortOrder="1000">
            <label>Magenerds</label>
        </tab>
        <section id="countrypopup" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Country Popup</label>
            <tab>Magenerds</tab>
            <resource>Magenerds_CountryPopUp::config_countrypopup</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="homepage_only" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Use only on Homepage</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cookie" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Cookie Duration</label>
                    <validate>integer</validate>
                    <comment><![CDATA[Define Duration of the cookie <strong>in *days*</strong> empty or 0 is equal to session duration]]></comment>
                </field>
                <field id="unselected_countries_text" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Use for Unselected Countries Text</label>
                    <comment><![CDATA[If "Yes" is selected the default modaltext will be shown for all countries that are not selected <br /> If the detected country is equal the <strong>current store country</strong> no hint will be shown.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="show_modal" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Popup as modal dialog</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Show dialog modal with overlay]]></comment>
                </field>
                <field id="responsive_modal" translate="label" type="select" sortOrder="50" showInDefault="1" canRestore="1">
                    <label>Responsive Modal</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="popup_values" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Country Modal Properties</label>
                <field id="countries" translate="label" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Countries that should be hinted</label>
                    <comment> <![CDATA[Select countries that should receive the modal hint <br /><br /><strong>Notice:</strong> that the country specific fields will be shown after saving the country selection!]]></comment>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="editor" translate="label" type="editor" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Modaltext for Unselected Countries</label>
                    <comment> <![CDATA[<strong>Notice:</strong> This text will only be shown if the user is using an unknown language beside hinted and default store language and if the field "<strong>Use for Unselected Countries Text</strong>" is displayed.]]></comment>
                    <frontend_model>Magenerds\CountryPopUp\Model\Config\Editor</frontend_model>
                </field>
                <field id="country_modal_image" translate="label" type="Magento\Config\Block\System\Config\Form\Field\File" sortOrder="30" showInDefault="1" showInWebsite="1" >
                    <label>Modal Image Upload</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">country_modal_image</upload_dir>
                    <comment>The following file types are allowed jpg, jpeg, png</comment>
                </field>
            </group>
            <group id="popup_delay" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Popup delay options</label>
                <field id="use_delay" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Use Popup delay</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="delay_duration" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Delay Duration</label>
                    <validate>integer</validate>
                    <comment>Define length of delay in milliseconds until the popup appears</comment>
                </field>
            </group>
        </section>
    </system>
</config>
